.layout {
    display: flex;
    flex-direction: column;
    min-height: inherit;
}

.main {
    flex: 1;

    /* ensure we don't squash main content on really small screens */
    min-height: 320px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./assets/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* a fallback value */
    background-color: var(--secondary-bg-colour);
}

.content {
    text-align: center;
    max-width: 860px;
    padding: 0 var(--padding-x);
    margin: 0 auto;
}

.content > *:not(:last-child) {
    margin-bottom: 1rem;
}

.content > h1 {
    font-size: var(--heading-size);
}
