.button {
    border: none;

    color: var(--text-colour);
    background-color: var(--bg-colour);

    padding: 0.5rem 1rem;
}

.button:hover {
    color: var(--secondary-text-colour);
    background-color: var(--brand-colour);
}

.button:disabled {
    background-color: #d3d3d3;
    color: #808080;
    cursor: not-allowed;
}

.fullWidth {
    width: 100%;
}
