.input {
    width: 100%;
    border: 1px solid black;
    padding: 0.5rem;
}

.errorHidden {
    visibility: hidden;
}
.errorVisible {
    visibility: visible;
}
.errorMessage {
    color: var(--error-text-colour);
    display: inline-block;
    font-style: italic;
    font-size: 0.8rem;
}
