.content h2 {
    text-align: center;
}

.ruler {
    width: 60px;
    margin-top: 1rem;
}

.requestForm {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.callToAction {
    margin-top: 1rem;
}

.serverError {
    color: var(--error-text-colour);
    font-style: italic;
}
