.content h2 {
    text-align: center;
}

.content hr {
    width: 60px;
    height: 2px;

    background-color: var(--bg-colour);
    margin-top: 1rem;

    border: none;
}

.requestForm {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.callToAction {
    margin-top: 1rem;
}
